[Unit]
Description=Agenda backup diario de todos os bancos Wimifarma

[Timer]
OnCalendar=*-*-* 02:15:00 America/Sao_Paulo
Persistent=true
RandomizedDelaySec=10m
AccuracySec=1m
Unit=wimifarma-database-backup.service

[Install]
WantedBy=timers.target
