[Unit]
Description=Agenda backup diario da Cotacao Wimifarma

[Timer]
OnCalendar=*-*-* 02:15:00 America/Sao_Paulo
Persistent=true
RandomizedDelaySec=10m
AccuracySec=1m
Unit=wimifarma-cotacao-backup.service

[Install]
WantedBy=timers.target
